#root {
  
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(81, 81, 81);

 
}


.favorites > * {
  flex: 1; /* Distribute available space evenly */
  flex-basis: calc(33.33% - 10px); /* Set the width of each item (adjust as needed) */
  margin: 5px; /* Add margin between items (adjust as needed) */
}

.navbar{
  background-color: rgb(149, 213, 151);
  display: flex;
  padding-top: 40px;
}

.allMounts{
  display: flex;
  flex-wrap: wrap; 
  flex-basis: calc(20% - 100px); 
}



.mountbox {
  flex-basis: calc(20% - 100px); 
  margin: 90px; 
  background-color: rgb(30, 29, 29);
  
}


